* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.appContainer{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.contentContainer {
    display: flex;
    margin-top: 3%;
    flex-grow: 1;
}
    aside{
        min-width: 100px;
        width: 20%;
        height: 100%;
        border: 1px solid red;
    }

    aside > h2 {
        text-align: center;
    }
    .sideBarContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5%;
    }
        .projectList{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px 0px 10px 0px;
            line-height: 2rem;
        }
        .projectList > li {
            list-style-type: none;
        }
    .addProjectContainer {
        display: flex;
        align-items: center;
    }    
        @media (max-width: 955px){
            #addProjectForm{
                width: 80px;
                margin: 5%;
            }
        }
        #addprojectForm{
            width: 120px;
        }


    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        border: 1px solid blue;
        margin-right: 5%;
    }
    main > h3 {
        text-align: center;
    }  

    .listTasksContainer{
        width: 100%;
        
    }
        .todoItem{
            display: flex;
            align-items: center;
            list-style-type: none;
        }

        td{
            width: 15vw;
        }

        .addTaskContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 1rem 0;
        }  

        .addClick:hover{
            cursor: pointer;
        }
        .taskForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        



    